<h1>Trading bot dashboard</h1>

<div *ngIf="mes_bitcoins.length != 0">
  <span>Mes bitcoins : {{ mes_bitcoins[0].quantite }} bitcoin</span>
</div>

<div *ngIf="mes_euros.length != 0">
  <span>Mes euros : {{ mes_euros[0].quantite }} euros</span>
</div>

<div *ngIf="bitcoins_cours.length != 0">
  <span>Bitcoin cours : 1 BTC = {{ bitcoins_cours[0].valeur }} euros</span>
</div>

<app-chart
  [mes_bitcoins]="mes_bitcoins"
  [mes_euros]="mes_euros"
  [bitcoins_cours]="bitcoins_cours"
></app-chart>

<br />
<br />

<button>Acheter</button>
<input />

<br />
<br />

<button>Vendre</button>
<input />
