<h1>Trading bot dashboard</h1>

<div *ngIf="mon_argent_list.length != 0">
  <br />
  <span>Mes euros : {{ mon_argent_list[0].mes_euros | number }} € </span>
  <br />
  <span>Mes bitcoins : {{ mon_argent_list[0].mes_bitcoins | number }} ₿ </span>
  <br />
  <span
    >Bitcoin cours : 1 ₿ =
    {{ mon_argent_list[0].bitcoin_cours | number }} €</span
  >
  <br />
  <br />
  <app-chart [mon_argent_list]="mon_argent_list"></app-chart>

  <br />
  <br />

  <button (click)="transaction(bitcoins_achetees)">Acheter bitcoins</button>
  <span>&nbsp;</span>
  <input
    type="number"
    [(ngModel)]="bitcoins_achetees"
    (click)="convert_bitcoins_to_euros(bitcoins_achetees)"
  />
  <span> ₿ = {{ convert_bitcoins_to_euros(bitcoins_achetees) }} €</span>
</div>
